<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <style>
	  .playlist-table-header {
		font-weight: bold;
	  }
    </style>
  </head>

  <body>

	<div class="container">
		<div class="row">
			<div id='localtop-output'>
			</div>
		</div>
	</div>
    
    <script> 
	
      function getArtists() {
        $.ajax({
          url: '/localtop'
        }).done((artists) => {

          console.log(artists);
           
			var table = $("<table/>").addClass('table table-hover');
			var header = $('<thead/>').addClass('playlist-table-header');
			var row = $("<tr/>");
			row.append($('<td/>').text('Number'));
			row.append($('<td/>').text('Track Name'));
			row.append($('<td/>').text('Popularity'));
			row.append($('<td/>').text('Artist Image'));
			row.append($('<td/>').text('Seatgeek Artist'));
			row.append($('<td/>').text('Spotify Artist'));
			row.append($('<td/>').text('Venue'));
			row.append($('<td/>').text('Time'));
			row.append($('<td/>').text('Prune'));
			header.append(row);
			table.append(header);
			
			artists.forEach((artist, index) => {
				var row = $("<tr/>");
				row.append($("<td/>").text(index + 1));
				row.append($("<td/>").text((artist.top_track ? artist.top_track.name : '')));
				row.append($("<td/>").text((artist.top_track ? artist.top_track.popularity : '')));
				row.append($("<td/>").html((artist.spotify_artist && artist.spotify_artist.images.length > 0 ? '<img src="' + artist.spotify_artist.images[0].url + '" height="32px" width="32px"/>' : '')));
				row.append($("<td/>").text(artist.seatgeek_artist.name || ''));
				row.append($("<td/>").text((artist.spotify_artist ? artist.spotify_artist.name : '')));
				row.append($("<td/>").text(artist.event.venue.name || ''));
				row.append($("<td/>").text(artist.event.datetime_local));
				row.append($("<td/>").text('Remove'));
				table.append(row);
			});

			$('#localtop-output').append(table);
      
	   })
      }
   
      $(document).ready(function(){
        getArtists();
      })
    </script>
    
  </body>
</html>
