<!doctype html>
<html>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <style>
      #key, #localtop-output {
        border: 1px solid black;
        padding: 20px;
        margin: 10px;
      }
    </style>
  </head>

  <body>

    <h2>
      KEY
    </h2>
    <div id='key'>      
    </div>

    <h2>
      OUTPUT
    </h2>
    <div id='localtop-output'>
    </div>
    
    <script>
      function getKey() {        
        $.ajax({
          url: '/localtop'
        }).done((data) => {
          console.log(data);
          $('#output').append(data);
        })
      }
      
      function syntaxHighlight(json) {
          if (typeof json != 'string') {
               json = JSON.stringify(json, undefined, 2);
          }
          json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
          return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
              var cls = 'number';
              if (/^"/.test(match)) {
                  if (/:$/.test(match)) {
                      cls = 'key';
                  } else {
                      cls = 'string';
                  }
              } else if (/true|false/.test(match)) {
                  cls = 'boolean';
              } else if (/null/.test(match)) {
                  cls = 'null';
              }
              return '<span class="' + cls + '">' + match + '</span>';
          });
      }      
      
      $(document).ready(function(){
        getKey();
      })
    </script>
    
  </body>
</html>
